<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <span>{{post_text}}</span>
  </div>
  <div class="meta">
    {{yes_count}} point(s) by {{user.username}} on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>