<div>You are on the homepage</div

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h2>{{post.title}}</h2>
        <span>{{post.post_text}}</span>
      </div>
      <div class="meta">
        {{post.yes_count}} yes by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>